<div id="help" class="container module">
  <h2 class="page-header"><i class="icon icon-book"></i> Documentation</h2>
  <ul class="inline">
    <li>
      <h4>Deployment Guide</h4>
        <p>Haven't answered that yet.</p>
    </li>
    <li>
      <h4>User Guide</h4>
        <p>Haven't answered that yet.</p>
    </li>
  </ul>


<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Deployment Guide</a></li>
    <li><a href="#tab2" data-toggle="tab">User Guide</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
  </div>
</div>
</div>