<div id="release-notes" class="container module">
  <h2 class="page-header"><i class="icon icon-file-alt"></i> Release Notes - v0.1</h2>
  <h4>Toolbox Menubar Removed</h4>
  <p>The toolbox menubar has been removed and merged with the image window menubar. To be able to do this a window called the empty image window has been introduced. It hosts the menubar and keeps the application instance alive when no images are opened. It also acts as a drag and drop target. When opening the first image the empty image window is transformed into a normal image window, and when closing the last image, that window becomes the empty image window. </p>

  <h4>Toolbox and Docks are Utility windows</h4>
  <p>With the empty image window acting as a natural main window, the default window hints for the Toolbox and Docks have been changed to Utility window. This enables window managers to do a much better job of managing the GIMP windows, including omitting the Toolbox and Docks from the taskbar and ensuring that the Toolbox and Docks always are above image windows. </p>

  <h4>Ability to Pan Beyond Image Border</h4>
  <p>It is now possible to pan beyond the image border, making image window navigation much less constrained. It is no longer a problem to use the edge of a brush on the edge of an image while being zoomed in, and one can adapt the canvas to any utility windows covering parts of the image window. </p>
</div>