<div id="release-notes" class="container module">
  <h2 class="page-header"><i class="icon icon-file-alt"></i> Release Notes - v0.1</h2>
  <h4>First Design</h4>
  <p>This is the very first release. It includes a modern yet serious design</p>

  <h4>Modular, kinda</h4>
  <p>The real content is included in the snippets in includes. Most everything else is icing on the cake. </p>

  <h4>Includes Bootstrap</h4>
  <p>A static CSS version of bootstrap is included</p>

  <h4>Includes Font-awesome</h4>
  <p>Including font-awesome allows us to do this with a font: <i class="icon icon-github icon-2x spin"></i></p>
</div>