@import url(bootstrap.min.css);

a:hover {
  cursor: pointer;
}

.page-header {
  border-color: #888;
}

.navbar-fixed-top {
  border-bottom: 1px solid #666;
  margin-bottom: 0;
  position: static
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #fff;
}

.navbar .brand {
  float: left;
  padding: 7px 20px 0 0;
  margin-left: 0;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
}

.navbar-inner {
  background-image: none;
  background-color: #33373a;
}

.masthead {
  color: #888;
  margin-bottom: 0;
  padding: 60px 0 50px;
}
.masthead h1 {
  font-size: 69px;
  letter-spacing: -2px;
  line-height: 1;
  color: #7AC142;
}
.masthead p {
  font-size: 23px;
  font-weight: 200;
  line-height: 1.25;
  color: #aaa;
}
.masthead ul li a {
  color: #bbb
}
.masthead ul li a:hover {
  color: #f5f5f5;
}
.jumbotron {
  background: rgb(68,71,73); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(68,71,73,1) 0%, rgba(51,55,58,1) 33%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,71,73,1)), color-stop(33%,rgba(51,55,58,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(68,71,73,1) 0%,rgba(51,55,58,1) 33%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(68,71,73,1) 0%,rgba(51,55,58,1) 33%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(68,71,73,1) 0%,rgba(51,55,58,1) 33%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(68,71,73,1) 0%,rgba(51,55,58,1) 33%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444749', endColorstr='#33373a',GradientType=0 ); /* IE6-9 */
  position: relative;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);

}
.jumbotron p {
  margin-bottom: 30px;
}
.jumbotron h1 {
  font-weight: bold;
}

.jumbotron .btn-large {
font-size: 18px;
padding: 13px 23px 13px 22px;
margin-right: 10px;
text-align: left;
}

.social-media {
  border-top: 1px solid #222;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  text-align: center;
  background-color: #444749;
}
.social-media a {
  color: #bbb;
  text-decoration: none;
}
.social-media a:hover {
  color: #fff;
  text-decoration: none;
}

.screenshot-slider {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.screenshots, .release-notes {
  margin-top: 30px;
}

.footer {
  margin-top: 20px;
  text-align: center;
  padding: 20px 0 10px;
  font-size: 11px;
  color: #888;
}
