

@import url(bootstrap.min.css);

.navbar-fixed-top {
  border-bottom: 4px solid #ccc;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #fff;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
}

.masthead {
    color: #111;
    margin-bottom: 0;
    padding: 70px 0 80px;
}
